*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    
}
header{
    width: 100%;
    height: 100vh;
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center; 
    justify-content: center; 
    text-align: center;
    

   
}
h1{
    font-size: 50px;
}
h2{
    font-size: 27px;
}

.header-content h1{
    font-size: 80px;
    color: white;
    font-weight: 700;
    margin: 50px;
    
}

.header-content p{
    color: white;
    margin-bottom: 70px;

}
.btn{
    text-decoration: none;
    background-image: linear-gradient( orange , orangered ,lightcoral );
    padding: 13px 40px;
    border-radius: 5px;
    color: #fff;

}



/* header ends here  */

.donate{
    width: 100%;
    height: 80vh;
    display: flex;
    /* align-items: center;  */
    justify-content: center; 
    text-align: center;
}
.donate-container{
    width: 80%;
    
}
.top{
    margin-top: 90px;
}
.top h1{
    font-size: 35px;
    margin-bottom: 30px;
}
.top p{
    margin-bottom: 40px;
}
.middle{
    width: 100%;
}

.middle ul li{
    list-style: none;
    display: inline-block;

    padding: 45px 30px;
    background-color: #EEEEEE;
    margin: 20px 20px;
    font-size: 30px;
    border-radius: 5px;

}
#text{
    width: 50%;
    height: 30px;
    text-align: center;
    margin-top: 60px;
    border: none;
    font-size: 25px;
    padding: 10px;
    border-bottom: 1px solid gray;
    outline: none;


}
#tk200{
    color: red;
    font-weight: 100;
    border: 2px solid red;
    background-color: rgba(243, 16, 16,0.2);

}

.bottom a{
    display: block;
    width: 100px;
    margin: 25px auto;
}




/* donate section end here */

/* donate plan start from here */

.donate-plane{
    width: 100%;
    height: 60vh;
}

.donate-title{
    width: 43%;
    text-align: center;
    margin: 70px auto;
}
.donate-title h1{
    margin: 20px;
}

.donate-content{
    width: 70%;
    
    display: flex;

    
    margin: 0 auto;
    
}
.donate-item{
    width: 30%;
    border-radius: 5px;
    text-align: left;
    padding: 30px;
    margin: 10px;
    
    
}
.family-food h2{
    margin: 20px 0;
}
.family-sheilter h2{
    margin: 20px 0;
}  
.child-education h2{
    margin: 20px 0;
}  
.family-food{
    background-color: #EAF7F9;
}
.family-sheilter{
    background-color: #EAF0F9;
}  
.child-education{
    background-color: #EAF9EC;
}  


/* donate plan end here */


.help-container{
    width: 70%;
    
    margin: 0 auto;
    margin-top: 80px;
}
.list-human p , .list-animal p{
    margin: 10px 0;
}

.tran-pic{
    width: 50%;
    height: 50%;
  
    box-shadow: 2px 2px 15px -10px;
    
}
hr{
    width: 120px;
    border: 1px solid rgb(240, 220, 220);
    border-bottom: none;
}
.list-human{
    width: 30%;
    padding: 3%;
    border-left: 2px solid blue;
    box-shadow: 2px 2px 30px -10px;
    padding-left: 20px;
    padding-top: 25px;

}


.list-man{
    width: 30%;
    margin: 0 20px;
    font-size: 0;
    box-shadow: 10px 15px 20px -20px;
    
    
}
.list-animal{
    width: 30%;
    padding-left: 20px;
    padding-top: 25px;
    border-left: 2px solid red;
    box-shadow: 2px 2px 30px -10px;
}


.disply-flex{
    display: flex;
    
}
.widht{
    width: 50%;
    height: 40vh;
}
.help-container1{
    width: 70%;
    margin: 5vh auto;
}
.image{
    width: 100%;
    height: 100%;
    border-radius: 5px;

}
.left-content{
    padding-right: 60px;
    padding-top: 50px;
}
.left-content p{
    margin: 30px 0;

}
.right-content2{
    padding: 50px 60px;
}
.right-content2 p{
    margin: 30px auto;
}
.update{
    text-align: center;
    margin-top: 80px;
}
.update p{
    margin: 30px 0;
}
.form{
    width: 55%;
    height: 20vh;
    background-color:  rgba(234, 223, 125,0.3);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10vh;

}
#email{
    border: none;
    background-color: rgb(227, 217, 217);
    color: white;
    width: 30%;
    height: 20px;
    font-size: 19px;
    padding: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    outline: none;
}
#btn{
    background-image: linear-gradient(rgb(245, 55, 55), rgb(251, 57, 57), rgb(239, 38, 38)  ,rgb(232, 36, 36));
    padding: 12px 30px;
    color: white;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

footer{
    width: 100%;
    height: 25vh;
    background-color: black;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.foot h1{
    color: tomato;
    margin: 30px;
    font-family: 'Lobster', cursive;
    font-size: 50px;
}
.foot p{
    color:whitesmoke;
    
}

